<div class="container">
  <div class="header">
    <div class="header-container">
        <div class="logo">
          <h4 class="logo-text">Alpha bank</h4>
        </div>
        <div class="nav">
            <ul class="nav-list">
              <li class="nav-items nav-items-active">home</li>
              <li class="nav-items">about us</li>
              <li class="nav-items">features</li>
              <li class="nav-items">teams</li>
              <li class="nav-items">pricing</li>
            </ul>
        </div>
        <div class="button button-black">
            sign up
        </div>
    </div>
    <div class="header-info">
        <div class="info">
            <h1 class="info-header">Powerfully Simple Business Banking</h1>
            <p class="info-paragraphy">All of your banking in one place. All of your banking in one place.
              All of your banking in one place.All of your banking in one place.All of your banking in one place.</p>
            <div class="button button-pink">
              get started
            </div>
        </div>
    </div>
    <div class="header-description">
      <div class="description-1">
        <div class="description-icon" style="color: #D96868;">
          <fa-icon [icon]="financial" size="4x"></fa-icon>
        </div>
        <div>
          <h1 class="description-header">
            financial planning
          </h1>
        </div>
        <div>
          <p class="description-subheader">
            Lorem ipsum dolor sit amet, cons sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </div>
      </div>
      <div class="description-2">
        <div class="description-icon" style="color: #9168D9;">
          <fa-icon [icon]="building" size="4x"></fa-icon>
        </div>
        <div>
          <h1 class="description-header">
            risk planning
          </h1>
        </div>
        <div>
          <p class="description-subheader">
            Lorem ipsum dolor sit amet, cons sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </div>
      </div>
      <div class="description-3">
        <div class="description-icon" style="color: #689DD9;">
          <fa-icon [icon]="comment" size="4x"></fa-icon>
        </div>
        <div>
          <h1 class="description-header">
            online support
          </h1>
        </div>
        <div>
          <p class="description-subheader">
            Lorem ipsum dolor sit amet, cons sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </div>
      </div>
      <div class="description-4">
        <div class="description-icon" style="color: #68D982;">
          <fa-icon [icon]="briefCase" size="4x"></fa-icon>
        </div>
        <div>
          <h1 class="description-header">
            investments
          </h1>
        </div>
        <div>
          <p class="description-subheader">
            Lorem ipsum dolor sit amet, cons sadipscing elitr, sed diam nonumy eirmod tempor
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-us">
    <div class="about-us-1">
      <div>
        <h1 class="about-us-1--header">What you need, Always</h1>
      </div>
      <div class="about-us-1--body">
        <div>
          <div class="about-us-1--body--header">
            <h3 class="about-us-1--body--header--text">Easy Payment to borrow
              free get a better filling at</h3>
          </div>
          <div class="about-us-1--body--info">
            <p class="about-us-1--body--info--text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliqu yam erat, sed diam voluptua. At vero
            </p>
          </div>
        </div>
        <div class="about-us-1--Imageholder">
          <div >
            <img class="about-us-1--Imageholder--imageStyle" src="../assets//images//Group92.png"/>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us-2">
      <div class="about-us-2-shapes">
        <div class="about-us-2-shapes--1"></div>
        <div class="about-us-2-shapes--2"></div>
        <div class="about-us-2-shapes--3"></div>
        <div class="about-us-2-shapes--4"></div>
      </div>
      <div class="about-us-2--header">
        <h1 class="about-us-2--header--text">Easy Payment to borrow free get a better filling at home</h1>
      </div>
      <div class="about-us-2--body">
        <div class="about-us-2--Imageholder">
          <div >
            <img class="about-us-2--Imageholder--imageStyle" src="../assets//images//Group85.png"/>
          </div>
        </div>
        <div class="about-us-2--body--info">
          <div style="margin-bottom: 20px;">
            <p class="about-us-2--body--info--text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliqu yam erat, sed diam voluptua. At vero
            </p>
          </div>
          <div>
            <p class="about-us-2--body--info--text">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor invidunt ut labore et dolore
              magna aliqu yam erat, sed diam voluptua. At vero
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-us-3">
      <div class="about-us-3-shapes--5"></div>
      <div class="about-us-3-header">
        <h2 class="about-us-3-header--text">We stand out in what we do</h2>
      </div>
      <div class="about-us-3-body">
        <p class="about-us-3-body--text">All of your banking in one place. All of your banking in one place.
          All of your banking in one place. All of your banking in one place. All of your banking in one place.</p>
      </div>
      <div class="about-us-3-response">
        <div class="about-us-3-response--1">
          <div class="about-us-3-response--1--text">
            100k
          </div>
          <div class="about-us-3-response--text">
            responses
          </div>
        </div>
        <div class="about-us-3-response--2">
          <div class="about-us-3-response--2--text">
            100k
          </div>
          <div class="about-us-3-response--text">
            responses
          </div>
        </div>
        <div class="about-us-3-response--3">
          <div class="about-us-3-response--3--text">
            100+
          </div>
          <div class="about-us-3-response--text">
            responses
          </div>
        </div>
        <div class="about-us-3-response--4">
          <div class="about-us-3-response--4--text">
            100+
          </div>
          <div class="about-us-3-response--text">
            responses
          </div>
        </div>
      </div>
      <div class="about-us-3-lower">
        <div class="about-us-3-lower--test">
          Our Partners
        </div>
        <div class="about-us-3-lower--imageHolder">
          <img class="about-us-3-lower--imageHolder--image" src="../assets//images//mastercard-7.svg" />
        </div>
        <div class="about-us-3-lower--imageHolder">
          <img class="about-us-3-lower--imageHolder--image" src="../assets//images//paypal.svg" />
        </div>
        <div class="about-us-3-lower--imageHolder">
          <img class="about-us-3-lower--imageHolder--image" src="../assets//images//visa-1.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="question">
      <div class="question-shape--1"></div>
      <div class="question-shape--2"></div>
      <div class="question-header">
        <h3 class="question-header--text">Have Questions ?</h3>
      </div>
      <div class="question-subHeader">
        <p class="question-subHeader--text">
          All of your banking in one place. All of your banking in one place.
          All of your banking in one place.
          All of your banking in one place. All of your banking in one place.
        </p>
      </div>
      <div>
        <button class="question-button">
          contact us
        </button>
      </div>
  </div>
  <div class="mobile">
    <div class="mobile-container">
      <div class="mobile-container-left">
        <div class="mobile-container-left--headerContainer">
          <h3 class="mobile-container-left--header">On mobile Platforms</h3>
        </div>
        <div class="mobile-container-left--bodyContainer">
          <p class="mobile-container-left--body">
            Dowload the Alpha Bank app and simplify your banking
            Discover quick, simple and convenient way to take command
            of your bank account on your mobile phone
          </p>
        </div>
        <div class="mobile-container-platformContainer">
          <div>
            <div class="mobile-container-platformContainer--button">
                <div>
                  <img class="mobile-container-platformContainer--button--imageHolder"
                  src="../assets//images/apple-black.svg" />
                </div>
                <div class="mobile-container-platformContainer--button--right">
                  <div>
                    <p class="mobile-container-platformContainer--button--right-upper">Download on</p>
                  </div>
                  <div>
                    <p class="mobile-container-platformContainer--button--right-lower">App Store</p>
                  </div>
                </div>
            </div>
          </div>
          <div>
            <div class="mobile-container-platformContainer--button">
              <div>
                <img class="mobile-container-platformContainer--button--imageHolder"
                src="../assets//images/google-play-store.svg" />
              </div>
              <div class="mobile-container-platformContainer--button--right">
                <div>
                  <p class="mobile-container-platformContainer--button--right-upper">Download on</p>
                </div>
                <div>
                  <p class="mobile-container-platformContainer--button--right-lower">Play Store</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-container-right">
        <img class="mobile-container-right--image" src="../assets//images//mobileView.png" />
      </div>
    </div>
  </div>
  <div class="review">
    <div class="review-upper">
        <div class="review-upper--mainSection">
            <div class="review-upper--mainSection-left">
              <div class="review--header">
                <h3 class="review--header-text">What our customers have to say</h3>
              </div>
              <div class="review--stars">
                <div class="review--stars-icon" style="color: #EEBA7C;">
                  <fa-icon [icon]="star" size="1x"></fa-icon>
                </div>
                <div class="review--stars-icon" style="color: #EEBA7C;">
                  <fa-icon [icon]="star" size="1x"></fa-icon>
                </div>
                <div class="review--stars-icon" style="color: #EEBA7C;">
                  <fa-icon [icon]="star" size="1x"></fa-icon>
                </div>
                <div class="review--stars-icon" style="color: #EEBA7C;">
                  <fa-icon [icon]="star" size="1x"></fa-icon>
                </div>
                <div class="review--stars-icon" style="color: #EEBA7C;">
                  <fa-icon [icon]="star" size="1x"></fa-icon>
                </div>
              </div>
              <div class="review--comment">
                <p class="review--comment-text">
                  All of your banking in one place. All of your banking in one place.
                  All of your banking in one place.
                  All of your banking in one place. All of your banking in one place.
                </p>
              </div>
              <div class="review--name">
                <p class="review--name-text">Vanessa</p>
              </div>
            </div>
            <div class="review-upper--mainSection-right">
                <img class="review-upper--mainSection-right--imageHolder"
                  src="../assets//images//Robin Williams-1@2x.png" />
            </div>
        </div>
        <div class="review-other">
          <div class="review-other--icon" style="color: #8B90A4;">
            <fa-icon [icon]="arrowLeft" size="3x"></fa-icon>
          </div>
          <div>
            <img class="review-other--image" src="../assets//images//Adam sandler.png" />
          </div>
          <div>
            <img class="review-other--image review-other--image-active" src="../assets//images//Robin Williams-1.png" />
          </div>
          <div>
            <img class="review-other--image" src="../assets//images//Jennifer-Aniston.png" />
          </div>
          <div>
            <img class="review-other--image" src="../assets//images//joan-cusack.png" />
          </div>
          <div>
            <img class="review-other--image" src="../assets//images//mindy kaling.png" />
          </div>
          <div>
            <img class="review-other--image" src="../assets//images//rebel wilson.png" />
          </div>
          <div class="review-other--icon" style="color: #8B90A4;">
            <fa-icon [icon]="arrowRight" size="3x"></fa-icon>
          </div>
        </div>
    </div>
    <div class="review-subscribe">
        <div class="review-subscribe-content">
            <div class="review-subscribe-content--header">
                <h4 class="review-subscribe-content--header-text">
                  Create an account in minutes
                </h4>
            </div>
            <div class="review-subscribe-content--body">
              <p class="review-subscribe-content--body-text">
                Get your Alpha account today!
              </p>
            </div>
            <div class="review-subscribe-content--form">
              <input type="text" placeholder="Enter your email"/>
              <button class="review-subscribe-content--form-button">Continue</button>
            </div>
        </div>
        <div class="review-subscribe-shapes">
          <div class="review-subscribe-shapes--1"></div>
          <div class="review-subscribe-shapes--2"></div>
          <div class="review-subscribe-shapes--3"></div>
          <div class="review-subscribe-shapes--4"></div>
        </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container">
        <div class="footer-container--upper">
          <div>
            <div>
              <h4 class="footer--mainHeader">alpha bank</h4>
              <p class="footer--bodyText">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna
              </p>
              <div class="footer--icons">
                <div class="footer--icons-element">
                  <div style="color: #EC5555;">
                    <fa-icon [icon]="facebook" size="1x"></fa-icon>
                  </div>
                </div>
                <div class="footer--icons-element">
                  <div style="color: #EC5555;">
                    <fa-icon [icon]="linkedin" size="1x"></fa-icon>
                  </div>
                </div>
                <div class="footer--icons-element">
                  <div style="color: #EC5555;">
                    <fa-icon [icon]="instagram" size="1x"></fa-icon>
                  </div>
                </div>
                <div class="footer--icons-element">
                  <div style="color: #EC5555;">
                    <fa-icon [icon]="twitter" size="1x"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h4 class="footer--headerText">Company</h4>
            <p class="footer--bodyText">about us</p>
            <p class="footer--bodyText">features</p>
            <p class="footer--bodyText">our pricing</p>
            <p class="footer--bodyText">latest news</p>
          </div>
          <div>
            <h4 class="footer--headerText">Support</h4>
            <p class="footer--bodyText">FAQ's</p>
            <p class="footer--bodyText">privacy policy</p>
            <p class="footer--bodyText">terms & conditions</p>
            <p class="footer--bodyText">contat us</p>
          </div>
          <div>
            <h4 class="footer--headerText">Address</h4>
            <p class="footer--bodyText">location: </p>
            <p class="footer--bodyText">email: </p>
            <p class="footer--bodyText">phone:</p>
          </div>
        </div>
        <div class="footer-container--lower">
          <p class="footer--bodyText">Copyright 2020.All rights reserved.</p>
        </div>
    </div>
  </div>
</div>

